/* your styles go here */


.custom-file-control::before {
  content: "Browse";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  z-index: 6;
  display: block;
  height: 2.5rem;
  padding: .5rem 1rem;
  line-height: 1.5;
  color: #464a4c;
  background-color: #eceeef;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 0 .25rem .25rem 0;
}

.custom-file-control::after {
  content: attr(data-content);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  width: 150px;
}

.form-check-label {
  width: 145px;
}

section.browser .nav-tabs a {
  height: 200px;
}

button#uploadBtn {
  padding: 10px;
  margin-top: 5px;
  margin-left: 10px;
}

p#uploadPercentage {
  color: red;
}

p#emailErrorMsg {
  font-size: 14px;
  color: red;
  font-style: italic;
}

.custom-number-input {
  display: inline-block;
  max-width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem 1.75rem .375rem .75rem;
  line-height: 1.25;
  color: #495057;
  vertical-align: middle;
  background-size: 8px 10px;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
